<nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container-fluid d-flex justify-content-between w-100">
        <div class="navbar-header">
            <a routerLink="/" href="" class="navbar-brand">T Shop</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-item mx-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/recipes">Recipe Book</a>
                </li>
                <li class="navbar-item mx-4" routerLinkActive="active">
                    <a routerLink="/shoppings">Shopping Cart</a>
                </li>
                <li class="navbar-item mx-4" routerLinkActive="active">
                    <a routerLink="/accounts">Account List</a>
                </li>
                <li class="navbar-item mx-4" routerLinkActive="active">
                    <a routerLink="/servers">Servers</a>
                </li>
                <li class="navbar-item mx-4" routerLinkActive="active">
                    <a routerLink="/products">Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>