<header id="header">
    <div class="container header__container">
        <nav>
            <ul class="nav__list">
                <li class="nav__item">
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav__item"><a routerLink="/about">About</a></li>
                <li class="nav__item"><a routerLink="/books">Books</a></li>
                <li class="nav__item"><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header__cart-total">
            <i class="fa-sharp fa-solid fa-cart-shopping cart-icon"></i>
            <span>{{ bookList.length }}</span>
        </div>
    </div>
</header>
