header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d6e4e5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 24px;
}

.nav__item a {
    color: #497174;
    font-weight: bold;
    font-size: 17px;
}

.header__cart-total {
    color: #497174;
}

.cart-icon {
    margin-right: 8px;
}
